 .u-section-1 {
  background-image: url("images/11.05.2022_12.37.09_REC.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 510px 433px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 417px;
    margin-right: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 313px;
    margin-right: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-btn-1 {
    margin: 460px auto 23px 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 390px;
    margin-bottom: 60px;
    margin-left: 43px;
  }
}